<!--

  This is a dummy comment which should be stripped out by minification logic.

  We have added an EJS script in the header section to enable TrackJS tracking only for production builds via defining a variable
  "trackJSToken" in the HtmlWebPackplugin section - only for production webpack.config section.

-->

<!DOCTYPE html>
<html lang="en">
  <head>
      <% if (htmlWebpackPlugin.options.trackJSToken) { %>
      <script>window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
      <script src="https://cdn.trackjs.com/releases/current/tracker.js">
      </script>
      <% } %>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Users</h1>
    <table>
      <thead>
        <th>&NonBreakingSpace;</th>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </thead>
      <tbody id="users">

      </tbody>
    </table>
  </body>
</html>
